name: flutter_example
publish_to: none
resolution: workspace

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  hooks: ^1.0.0
  native_toolchain_rust: ^1.0.3

dev_dependencies:
  ffigen: ^20.1.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
