# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
coverage/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Melos
!/pubspec.lock

# Rust related
/target/
/Cargo.lock

# Prebuilt binaries opt-in config (see examples/dart_only_prebuilt_binaries):
# by ignoring it, CI always builds the Rust code from source.
native_toolchain_rust.toml

.direnv/
