name: native_toolchain_rust_workspace
repository: https://github.com/GregoryConrad/native_toolchain_rust
publish_to: none

environment:
  sdk: ^3.9.0

workspace:
  - native_toolchain_rust
  - examples/dart_only
  - examples/flutter

dev_dependencies:
  melos: ^7.4.0
  very_good_analysis: ^10.2.0

melos:
  scripts:
    test:
      description: Run unit tests for a specific package in this project.
      run: flutter test test
      packageFilters:
        dirExists: test
      exec:
        concurrency: 1
        failFast: true

    integration-test:
      description: Run integration tests for a specific package in this project.
      run: flutter test integration_test
      packageFilters:
        dirExists: integration_test
      exec:
        concurrency: 1
        failFast: true

    init-integration-test-boilerplate:
      description: Create integration test boilerplate for a specific package in this project.
      run: flutter create .
      packageFilters:
        dirExists: integration_test
      exec:
        concurrency: 1
        failFast: true
